<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">QuickKartApp</a>
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/branchReceivePackage" class="nav-link">Receive Packages</a>
      </li>
      <li class="nav-item">
        <a routerLink="/viewCart" class="nav-link" href="#">View Cart</a>
      <li class="nav-item">
        <a class="nav-link" href="#">View Purchases</a>
      </li>
    </ul>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="#"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Logout</a>
      </li>
    </ul>
  </div>
</nav>
